---
import {SITE} from "../config";
import {Page} from "../types";
import Layout from "./Layout.astro";
---

<Layout
  title={`Publications - ${SITE.title}`}
  author=`${SITE.author}`
  description=`${SITE.desc}`
  activePage={Page.Publications}
>
  <main class="w-full">
    <div class="flex flex-col">
      <slot />
      <section
        id="publications"
        class="prose w-full mb-28 max-w-3xl prose-img:border-0 flex justify-center mt-10"
      >
        <small>Coming soon!</small>
      </section>
    </div>
  </main>
</Layout>
